@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: cornflowerblue;
  display: flex;
  /*align-items: center;*/
  flex-direction: column;
  height: 100vh;
}

#title {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

#principalgrid {
  display: flex;
  max-width: 512px;
  max-height: 512px;
  border: solid red;
  align-self: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
}
