@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");
* {
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: aquamarine;
}

#title {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.maqui {
	display: flex;
	justify-content: center;
}
#contenedor {
	width: 512px;
	height: 512px;
	border: solid brown;
	display: grid;
	/* grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr); */
	text-align: center;
}
/* .square:hover {
	height: auto;
	width: auto;
	border: solid green;
} */
